<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>contact-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="contactData">
      <ion-list>
        <ion-item>
          <p>Name: {{ contactData.name }}</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <p>E-Mail: {{ contactData.email }}</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <p>Phone: {{ contactData.phone }}</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-button (click)="openEditModal()">Edit</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>